* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: linear-gradient(to bottom, #b00610 0%, #141414 35%, #141414 100%);
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  background: #141414;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

select {
  padding: 6px 10px;
  font-size: 1em;
  width: 280px;
  border-radius: 5px;
  border: none;
}

.movie-list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 20px;
  justify-content: center;
  justify-items: center;
}

.movie-card {
  width: 280px;
  background: rgb(245, 243, 243);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.15);
  z-index: 1;
}

.movie-card img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.movie-card h3 {
  font-size: 0.9rem;
  padding: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-card p {
  font-size: 0.8rem;
  padding: 0 8px 10px;
  color: black;
  font-weight: bold;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background: #000;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}
